@import '../variables.scss';

.moreInfo-container{
  // width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  right: 0;
  .moreInfo{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .moreInfo-button{
      font-size: 2rem;
    }

  }
  nav{
    width: 60%;
    padding: 2.5rem 0;
    height: 100vh;
    position: fixed;
    right: -100%;
    transition: 850ms;
    background-color: black;
    color: white;
    @include breakpoint(md) {
        width: 30%;
    }
    ul{
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 100%;
      .moreInfo-toggle {
        font-size: 2rem;
        color: white;
        display: flex;
        justify-content: flex-end;
        padding-right: 1.8rem;
        .moreInfo-button{
          color: white;
        }
      }
      .moreInfo-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          height: 200px;
          max-width: 180px;
          object-fit: contain;
        }
      }
    }
    ul:not(:first-child){
      background-color: red;
    }
  }

  .info-menu.live{
    right: 0;
    transition: 350ms;
  }
}