.spinner-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  img{
    margin: auto;
  }
}

.intro-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 699px){

  .intro-wrapper{
    align-items: flex-start;
  }

  .spinner-container{
    img{
      width: 375px;
      height: 225px;
      margin: 230px auto;
    }
  }
}