.main-body{
  font-family: Atkinson-Hyperlegible-Regular-102;
  background-color: black;
  height: 100vh;
}

.container1{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: no-repeat center fixed;     
  background-size: cover;

  .img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: center; 
    background-size: cover;
  }
}

.details{
  z-index: 1;
  position: relative;
  color: #FFF;
  // font-size: 90px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.2em;
  .logo-wrapper{
    img{
      width: 145px;
      height: 75px;
    }
    margin-bottom: 15px;
  }
  .message-wrapper{
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-bottom: 50px;
    p{
      text-align: center;
      span{
        // font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.2em;
        margin: 0;
      font-family: Atkinson-Hyperlegible-Regular-102;
      text-align: center;
      text-transform: uppercase;
      }
    }
  }
}

.img1{
  background-color: orange;
  left: 75%;
  top: 15%;
  

}
.img2{
  background-color: blue;
  top: 75%;
  left: 45%;

}
.img3{
  background-color: red;
  top: 55%;
  left: 25%;
}
.img4{
  background-color: pink;
  top: 55%;
  left: 55%;
}
.img5{
  background-color: green;
  top: 25%;
  left: 25%;
}
.img6{
  background-color: turquoise;
  top: 5%;
  left: 5%;
}