@import '../styles/landingStyles/landingPage.scss';
@import '../styles/landingStyles/pageScroll.scss';
@import '../styles/landingStyles/mouse.scss';
@import '../styles/landingStyles/introSpinner.scss';
@import '../styles/landingStyles/finalPage.scss';
@import '../styles/landingStyles/bubbles.scss';
@import '../styles/landingStyles/footer.scss';
@import '../styles/components/sections';
@import '../styles/components/navBar';
@import '../styles/components/moreInfo';
@import '../styles/components/architecture/wellnessCentre/title-WC';
@import '~bulma/bulma.sass';
// @import './variables.scss';

// @import 'aos/dist/aos.css';

@font-face{
  font-family: Atkinson-Hyperlegible-Regular-102;
  src: url(fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}
@font-face{
  font-family: FogtwoNo5;
  src: url(fonts/titleFont/FogtwoNo5.ttf);
}


// #root{
//   margin: 0;
//   padding: 0;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}