@import '_landingPage.scss';
@import '_pageScroll.scss';
@import '_mouse.scss';
@import '_introSpinner.scss';
@import '_finalPage.scss';
@import '_bubbles.scss';
@import '_footer.scss';
// @import 'aos/dist/aos.css';

@font-face{
  font-family: Atkinson-Hyperlegible-Regular-102;
  src: url(fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}


body{
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}